{% extends 'hackathonguild/base.html' %} {% load static %}
{% block title %} index {%endblock title %}
{% block contents %}

  <main>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">投稿プロダクト一覧</h1>
          <p class="lead text-muted">投稿されたハッカソンの募集はこのページに表示されます．</p>
          <p>
            <a href="{% url 'hackathonguild:make_post' %}" class="btn btn-primary my-2">メンバーを募集してみる</a>
          </p>
        </div>
      </div>
    </section>

    {% if latest_posts %}
        <div class="album py-5 bg-light">
            <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            {% for post in latest_posts %}

            <div class="col">
                <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="{% url 'hackathonguild:post_detail' post.id %}">{{ post.product_name }} role="img" aria-label="Placeholder: {{ post.product_name }}" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ post.product_name }}</text></svg>

                    <div class="card-body">
                        <p class="card-text">{{ post.product_brief }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='{% url 'hackathonguild:post_detail' post.id %}'">View</button>
                            </div>
                            <small class="text-muted">募集:{{ post.recluting_headcount }}人</small>
                            <small class="text-muted">開催:{{ post.hackathon_date }}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            </div>
        </div>
        </div>

    {% else %}
    <p>No posts are available.</p>
    {% endif %}
  </main>

  <footer class="text-muted py-5">
    <div class="container">
      <p class="mb-0">Made by IB ©</p>
    </div>
  </footer>

{% endblock contents %}

