{% extends 'hackathonguild/base.html' %} {% load static %}
{% block title %} make_post {%endblock title %}
{% block contents %}

<form action="{% url 'hackathonguild:submit_post' %}" method="post">
    {% csrf_token %}
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">投稿者名</span>
            <input type="text" class="form-control" name="poster_name" placeholder="Postername" aria-label="Postername" aria-describedby="basic-addon1" maxlength="50">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">投稿者メアド</span>
            <input type="email" class="form-control" name="poster_mail" placeholder="poster@email.com" aria-label="Postermail" aria-describedby="basic-addon2" maxlength="50">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">プロダクト名</span>
            <input type="text" class="form-control" name="product_name" placeholder="Productname" aria-label="Productname" aria-describedby="basic-addon3" maxlength="50">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon4">ハッカソン開催日</span>
            <input type="date" class="form-control" name="hackathon_date" placeholder="yyyy/mm/dd" aria-label="Hackathondate" aria-describedby="basic-addon4">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon5">募集人数</span>
            <input type="number" class="form-control" name="recluting_headcount" placeholder="headcount" aria-label="headcount" aria-describedby="basic-addon5" min="1">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">プロダクト概要</span>
            <textarea class="form-control" name="product_brief" aria-label="With textarea" maxlength="200"></textarea>
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text" for="inputFile01">説明資料</label>
            <input type="file" class="form-control" name="file" id="inputFile01">
        </div>
    <!-- Button trigger modal -->
    <button type="submit" class="btn btn-sm btn-outline-secondary" name="submit_post" id="submitPost">投稿</button>
    <button type="button" class="btn btn-sm btn-outline-secondary" onclick="history.back()">戻る</button>
</form>

{% endblock contents %}